@import "tailwindcss";

:root {
  --search-box: #f7f8f9;
  --bg-primary: #fefefe;
  --sidebar: #f0f0f0;
  --hovered: #f0f5fd;
  --line: #bdc0ca;
  --text: #a9afbb;
}

.dark {
  --search-box: #1E2025;
  --bg-primary: #111315;
  --sidebar: #16181D;
  --hovered: #22252C;
  --line: #2A2D35;
  --text: #8B919E;
}